html {
  font-size: 62.5%
}

* {
	box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: subpixel-antialiased;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}