.enter-icons {
	.SocialNav-item {

		@for $i from 1 through 3 {
		   &:nth-child(#{$i}) {
		       animation-delay: #{$i/3}s;
		   }
		}
	}
}

.animation-popup {
	animation: popup .10s ease forwards;
}

@keyframes popup {
	from{
		bottom: -150%;
	}
	to{
		bottom: 0px;
	}
}
