.enter-icons {
	.SocialNav-item {
		animation: popup .25s ease forwards;

		@for $i from 1 through 3 {
		   &:nth-child(#{$i}) {
		       animation-delay: #{$i/3}s;
		   }
		}
	}
}

@keyframes popup {
	from{
		bottom: -150%;
	}
	to{
		bottom: 0px;
	}
}
