#main {
	overflow-y: auto;
  	overflow-x: hidden;
  	scroll-snap-points-y: repeat(100%);
  	scroll-snap-type: mandatory;
}

.HomeSection {
	text-align: center;
	position: relative;
	padding: 0 1rem;

	@include media($mobile) {
	    padding: 1rem;

		&:nth-child(2n) {
			background: rgba(gray, .075);
		}
	}
}

.HomeSection--main {
	overflow: hidden;

	.HomeSection-container {
		@extend %vertical-align;
	}
}

.HomeSection--contact {
	@include media($mobile) {
		padding-bottom: 6rem;
	}
}

.HomeSection-wrapper {
	@extend %vertical-align;
	position: relative;

	@include media($mobile) {
		top: auto;
		transform: translate(0);
	}
}

.HomeSection-container {
	width: 90%;
	max-width: 960px;
  	margin: 0 auto;
  	text-align: center;
	position: relative;
}

.HomeSection-container--wide {
	max-width: 100%;
}

.HomeSection-divider {
	border: 2px dashed rgba(black, .1);
    max-width: 500px;
    width: 90%;
    margin: 3rem auto;

    @include media($tablet) {
        margin: 1.5rem auto;
    }
}

.DescriptionHolder {
	@extend %clearfix;
    margin-bottom: 4rem;
}

.SectionTitle {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	z-index: 1;
}

.HomeHeader {
	margin: 0;
}

.SubHeader {
	font-weight: bold;
}

.TechList {
	text-align: center;
}

.TechList-item {
	display: inline-block;
	float: left;
	width: 33.333%;
  	padding: 0 1rem;
  	line-height: 3rem;
  	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
}
