.HomeSection {
	text-align: center;
	position: relative;
}

.HomeSection-container {
    padding-top: 3rem;
	width: 90%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.HomeSection-divider {
	border: 2px dashed rgba(black, .1);
    max-width: 500px;
    width: 90%;
    margin: 3rem auto;
}

.SectionTitle {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	z-index: 1;
}

.HomeHeader {
	margin: 0;
}

.SocialNav {
	list-style: none;
	display: inline-block;
    margin-top: 0;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0 0 3rem;
}

.SocialNav-item {
	display: inline;
	text-align: center;
    margin-right: 1rem;

    &:last-child {
    	margin-right: 0;
    }
	
	a {
		color: white;
		border: 0;

		&:hover {
			i {
				color: $pink;
			}
		}
	}

	i {
		color: black;
		font-size: 2.4rem;
	}
}

.SectionsNav {
	transition: all 0.1s ease-in-out;
}

.SocialNav--featured {
	.SocialNav-item {
		position: absolute;
		bottom: -100%;

	    &:nth-child(1) {
	    	left: 0;
	    }

	    &:nth-child(2) {
	    	left: 50%;
	    	transform: translateX(-50%);
	    }

	    &:nth-child(3) {
	    	right: 0;
	    }
	}
}

.SocialNav--corner {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	left: auto;
	width: auto;
	padding: 0;
	z-index: 1;

	.SocialNav-item {
		opacity: .75;
	}
}

.SectionsNav--corner {
	display: block;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 1;
}

.SectionsNav--featured {
	width: 100%;
	text-align: center;
}

.SectionsNav-link {
	color: black;
	opacity: .75;
	border: 0;

	&:not(:last-child):after {
		content: '/';
		color: black;
		display: inline-block;
		padding-left: .5rem;
	}

	&:hover {
		opacity: 1;
		color: $pink;
	}
}

