.WorkList {
	@extend %clearfix;
	position: relative;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.WorkList-item {
	padding: 0 1rem;
	
	&:focus {
		border: 0;
		outline: 0;
	}
}

.SliderButtons {

	li {
		display: inline;

		&:first-child {
			margin-right: .75rem;
		}
	}
}

.SliderButtons-button {
	border: 0;
	color: black;
	cursor: pointer;

	i {
		font-size: 3rem;
	}
}
