.Container {
	max-width: 1200px;
	margin: 0 auto;
}

.Container--nav {
	text-align: center;
	padding: 3rem;
	border-bottom: 1px solid rgba(black, .15);
}

.Wrapper {
	display: inline-block;
}

.Main-page {
	padding: 2rem;
}