---
layout: blog
---

<header>

<!-- 	<div class="Container Container--nav">
		<div class="Wrapper">
			{% include primary-menu.html %}
		</div>
	</div> -->

</header>

<main class="main Main-page" id="blogMain">

	<div class="Container">

		<section class="posts">
			{% for post in site.posts %}
			  	<article class="Article">
			  		<div class="Article-title">
				  		<h3>
				  			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				  		</h3>
				  		<date>{{ post.date | date: "%B %-d, %Y"}}</date>
			  		</div>
			  		<hr class="Divider Divider--article">
			  		<div class="Article-body Article-excerpt">
						<p>
			  				{{ post.content | strip_html | truncatewords:75}}
			  			</p>
			  		</div>
			  	</article>
			{% endfor %}
		</section>

	</div>

</main>

<footer>

</footer>